@model TeamViewModel
@{
    ViewData["Title"] = "Team";
}

<div style="background-color: rgb(35 35 45); box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); border: 5px solid transparent; border-image: linear-gradient(35deg, rgba(38, 41, 254, 0.8), rgba(211, 38, 254, 0.8)) 1; ">
    <div class="row py-4">
        <div class="col-md-12 mx-5">
            <code style="color:#fff; font-size: 30px;">Team @Model.TeamName</code><br>
        </div>
        <div class="col-md-12 mx-5">
            <code style="color:#fff; font-size: 25px;">Team players @Model.PlayerCount</code><br>
        </div>
    </div>
</div>
<div style="background-color: rgb(35 35 45); box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); border: 5px solid transparent; border-image: linear-gradient(35deg, rgba(38, 41, 254, 0.8), rgba(211, 38, 254, 0.8)) 1; ">
    <div class="bracket_page">
        <div class="bracket">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="TeamCoach.UserId" />
                <input type="hidden" id="DeletePlayerId" name="DeletePlayerId" />
                <div class="row d-flex justify-content-center p-4">
                    <div class="col-md-4">
                        <label class="my-4" style="font-weight: 700;">Team Logo</label>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div class="profile-image-container" style="background-color: rgb(35 35 45); box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); border: 5px solid transparent; border-image: linear-gradient(35deg, rgba(38, 41, 254, 0.8), rgba(211, 38, 254, 0.8)) 1;">
                                @if (Model.TeamLogo != null)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.TeamLogo)" class="profile-image">
                                }
                                else
                                {
                                    <img src="/img/Unknown.jpg" class="profile-image">
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="my-4" style="font-weight: 700;">Team Coach</label>
                        <div class="d-flex justify-content-center">
                            <a href="/Search/User/@Model.TeamCoach.NickName" class="list-group-item list-group-item-action" style="width: 200px;height: 200px;">
                                <div class="profile-image-container" style="background-color: rgb(35 35 45); box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); border: 5px solid transparent; border-image: linear-gradient(35deg, rgba(38, 41, 254, 0.8), rgba(211, 38, 254, 0.8)) 1;">
                                    @if (Model.TeamCoach.User.ImageData != null)
                                    {
                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.TeamCoach.User.ImageData)" class="profile-image">
                                    }
                                    else
                                    {
                                        <img src="/img/Unknown.jpg" class="profile-image">
                                    }
                                </div>
                            </a>
                        </div>
                        <input class="form-control reglog_input" id="Team" name="TeamCoach.NickName" value="@Model.TeamCoach.NickName" readonly />
                    </div>
                </div>
                <div class="row d-flex justify-content-center p-4">
                    <div class="col-md-9">
                        <h5 style="font-weight: 700;">Additional Information</h5>
                        <label class="my-4">Team Site</label>
                        <input class="form-control reglog_input" id="Team" type="text" name="TeamSite" value="@Model.TeamSite" readonly />
                        <label class="my-4">Team Description</label>
                        <input class="form-control reglog_input" id="Team" type="text" name="Desc" value="@Model.Desc" readonly />
                        <label class="my-4">Victories</label>
                        <input class="form-control reglog_input" id="Team" name="TeamCoach.WinTournament" value="@Model.TeamCoach.WinTournament" readonly />
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    @for (var i = 0; i < Model.Players.Count; i++)
                    {
                        var player = Model.Players[i];
                        <div class="col-md-2 col-sm-5 cards__inner">

                            @if (player.ImageData != null)
                            {
                                <a href="/Search/User/@player.NickName" class="list-group-item list-group-item-action">
                                    <div class="cards__img">
                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(player.ImageData)" class="profile-image">
                                    </div>
                                </a>
                            }
                            else
                            {
                                <div class="cards__img">
                                    <img src="/img/Unknown.jpg" class="profile-image">
                                </div>
                            }
                            <input type="hidden" name="Players[@i].Id" value="@player.Id" />
                            <input class="form-control reglog_input" id="Team" name="Players[@i].NickName" value="@player.NickName" readonly />
                        </div>
                    }
                </div>
        </div>
    </div>
</div>

