@model ListTournamentViewModel
@{
    ViewData["Title"] = "TournamentList";
}

<div style="background-color: rgb(35 35 45); box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); border: 5px solid transparent; border-image: linear-gradient(35deg, rgba(38, 41, 254, 0.8), rgba(211, 38, 254, 0.8)) 1; ">
    <div class="bracket_header">
        <span style="color:white"><b>Tournament @Model.Name</b></span> <br>
        <span class="match_info" style="color:white"><b>Date @Model.StartDate - @Model.EndDate</b></span> <br>
        <span class="match_info" style="color:white"><b>Prize money @Model.Prize $</b></span> <br>
        <p class="match_text" style="text-shadow: none;">This is the Olympic tournament grid "@Model.Name", with all the current results, updates will come from the organizers and sponsors of the tournament. Enjoy watching, we are with you.</p>
    </div>
</div>
<div class="d-flex justify-content-center" style="background-color: rgb(35 35 45); box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); border: 5px solid transparent; border-image: linear-gradient(35deg, rgba(38, 41, 254, 0.8), rgba(211, 38, 254, 0.8)) 1; ">
    <div class="m-5" style="width: 70%; background-color: rgb(35 35 45); box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); border: 5px solid transparent; border-image: linear-gradient(35deg, rgba(38, 41, 254, 0.8), rgba(211, 38, 254, 0.8)) 1; ">
        @if (Model.Complete == false)
        {
            <form id="teamForm" asp-action="SaveTeamClassic" method="post">
                <select asp-for="@Model.Type" class="form-select reglog_select" aria-label="Select Team" style="width: 70%; margin: 15px 15px 15px 15px;" disabled>
                    <option disabled selected>Select Team</option>
                    <option class="reglog_option" value="3">Top 3</option>
                    <option class="reglog_option" value="5">Top 5</option>
                    <option class="reglog_option" value="8">Top 8</option>
                    <option class="reglog_option" value="10">Top 10</option>
                </select>
                @if (Model.ClassicTeamLists != null)
                {
                    @foreach (var team in Model.ClassicTeamLists)
                    {
                        <div class="row align-items-center justify-content-center" style="margin: 15px 15px 15px 15px; background-color: #3f364b">
                            <div class="col-md-4 search-image-container">
                                @if (team.Team.TeamLogo != null)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(team.Team.TeamLogo)" class="search-image">
                                }
                                else
                                {
                                    <img src="/img/Unknown.jpg" class="profile-image">
                                }
                            </div>
                            <div class="col-md-4"><code style="color: #fff;">@team.Team.TeamName</code></div>
                            <div class="col-md-4 d-flex">
                                <input type="hidden" name="OlympicTeamLists[@Model.ClassicTeamLists.IndexOf(team)].id" value="@team.id" />
                                <input class="form-control reglog_input" name="OlympicTeamLists[@Model.ClassicTeamLists.IndexOf(team)].Score" value="@team.Score" readonly />
                            </div>
                        </div>
                    }
                }
            </form>
        }
        else
        {
            @if (Model.ClassicTeamLists != null)
            {
                @for (int i = 0; i < Model.ClassicTeamLists.Count; i++)
                {
                    var team = Model.ClassicTeamLists[i];
                    <div class="row align-items-center justify-content-center" style="margin: 15px 15px 15px 15px; background-color: @(i < Model.Type ? "rgba(0, 167, 113, 0.8)" : "rgba(255, 0, 0, 0.8)")">
                        <div class="col-md-4 search-image-container">
                            @if (team.Team.TeamLogo != null)
                            {
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(team.Team.TeamLogo)" class="search-image">
                            }
                            else
                            {
                                <img src="/img/Unknown.jpg" class="profile-image">
                            }
                        </div>
                        <div class="col-md-4"><code style="color: #fff">@team.Team.TeamName</code></div>
                        <div class="col-md-4"><code style="color: #fff">@team.Score</code></div>
                    </div>
                }
            }

        }
    </div>
</div>

